body{
    color:black;
    background-color: blanchedalmond;
    margin: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:medium;
    
}

h1 {
    border-bottom: 2px solid black;
    font-size: 16px;
    color:red;
    text-align:center;
    text-transform: uppercase;


}

    /* unvisited link */
a:link {
    color: red;

  }

  a:hover {
    color: blue;
  }

img {
    border: 1px solid red;
    padding: 10px;
    width:250px;
    opacity: 0.5;


}